            .columns
            {
                display:flex;
                gap:10px;
            }

            .column
            {
                flex: 1;
                left-padding: 50;
                border: 1px solid black;
                padding: 23px 23px 23px 30px;
            }
            .title
            {
                font-size: 12;
            }
